@import url("https://fonts.googleapis.com/css2?family=poppins:wgth@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {

    justify-content: center;
    min-height: 100vh;
    background: url('img/images.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}